<% title %>
<%= render partial: 'layouts/quick_search/page_title', locals: { page_title: @page_title } %>
<%= render partial: 'layouts/quick_search/search_form' %>
<div id="quicksearch-ga-debug">
    <ol></ol>
</div>
<div class="quicksearch-ga-click-tracking">
    <div id="result-types" class="row">
        <div class="small-12 columns result-types">
            <%= render partial: 'layouts/quick_search/found_types' %>
        </div>
    </div>
</div>
<%# FIXME: This logic could stand a second look %>
<% unless @wikipedia.is_a? StandardError %>
    <% unless @best_bets.is_a? StandardError %>
        <% if @best_bets.results.blank? %>
            <% unless @wikipedia.spelling_suggestion.blank? %>
                <%= render partial: 'layouts/quick_search/spelling_suggestion', locals: { spelling_suggestion: @wikipedia.spelling_suggestion} %>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <div id="spelling-suggestion" class="hidden"></div>
<% end %>
<div class="row">
    <div class="small-12 large-8 columns">
        <% if @best_bets.is_a? StandardError %>
            <div class="search-error silent-search-error" data-quicksearch-search-endpoint="best_bets"></div>
        <% else %>
            <% unless @best_bets.results.blank? %>
                <%= render partial: 'layouts/quick_search/best_bets', locals: { best_bets: get_best_bets_data(@best_bets)} %>
            <% end %>
        <% end %>
    </div>
</div>
<div class="quicksearch-ga-click-tracking">
    <div class="row articles-catalog">
        <div class="small-12 medium-6 columns summon module">
          <%= render_module(@arxiv, 'arxiv') %>
        </div>
        <div class="small-12 medium-6 columns catalog module">
            <%= render_module(@open_library, 'open_library') %>
        </div>
        <hr>
    </div>
    <div class="row journals-databases">
        <div class="small-12 columns"><h4 class='section-description'>Other Ways to Find Articles</h4></div>
        <div class="small-12 medium-4 columns journals module">
          <%= render_module(@wikipedia, 'wikipedia') %>
        </div>
        <div class="small-12 medium-4 columns databases module">
          <%= render_module(@placeholder, 'placeholder') %>
        </div>
        <div class="small-12 medium-4 columns smart-subjects module">
          <%= render_module(@placeholder, 'placeholder') %>
        </div>
        <hr>
    </div>
    <div class="row website-faq">
        <div class="small-12 columns"><h4 class='section-description'>Information About the Libraries</h4></div>
        <div class="small-12 medium-4 medium-push-8 columns faq module">
            <%= render_module(@placeholder, 'placeholder') %>
        </div>
        <div class="small-12 medium-8 medium-pull-4 columns website module">
            <%= render_module(@placeholder, 'placeholder') %>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns panel">
            <div class="row">
                <div id="related-topics" class="hidden small-12 medium-7 columns module related-topics"></div>
                <div id="more-options" class="small-12 medium-5 columns more-options">
                    <%= render partial: 'layouts/quick_search/more_options' %>
                </div>
            </div>
        </div>
    </div>
</div>
